  /* content page header font color (inline)*/
  .body_text {
   color:#ddd;
  }
  /* header nav bar bg color */
  .skin-blue .main-header .navbar {
   background-color:#557a99;
  }
  /* header user profile,logout area bg color */
  .skin-blue .main-header li.user-header {
    background-color:#557a95;
  }
  /* logo area background color */
  .skin-blue .main-header .logo {
    background-color:#557a99;
  }
  /* page background color */
  .content-wrapper {
    min-height:calc(100vh - 101px);
    background-color:#5d5c61;
    z-index:800;
  }
  /* footer background color and text color */
  .main-footer {
    background:#2c3b41;
    color:#ddd;
    border-top:1px solid #2c3b41;
  }
 /* h1 small tag font color (page heading title fonts) */
  h1 small{
   color: #aaa;
  }

 /* login & register box bg color */
 .login-box-body, .register-box-body {
    background: #4F4F4Faa;
    padding: 20px;
    border-top: 0;
    color: #ccc;
  }
  /* login page form input text color */
  .input100{
    color:#999;
  }
  /* admin dashboard form element bg color */
  .form-control{
    background-color:#ccc;
    border-color: #999;
  }
  /* admin dashboard content boxes bg color */
  .box {
    background-color:#ddd;
  }
  /* admin dashboard content box footer bg color */
  .box-footer, .box-header{
    background-color:#bbb;
  }
  label {
    display:block;
  }

  /* datatable search box style */
  .dataTables_filter {
   float: right ;
  }

  /* table head background color */
  thead{
    background-color:#bbb;
  }

  /* modal bg colors */
  .modal-content{
    background-color:#ddd;
  }
  .modal-header, .modal-footer{
    background-color:#ccc;
  }
  /*  custom style for ajax loaded text */
  .ajax_text {
    font-size: 15px;
    font-weight: bolder;
    font-style: italic;
    color: #483D8B;
  }

  /* sweet alert overwrite for dialog box resizing */
  .swal2-popup {
    font-size: 1.6rem !important;
	}
  .swal2-icon {
    width: 5em !important;
    height: 5em !important;
    border-width: .25em !important;
  }
